@import './variables';
@import './mixin';

@font-face {
    font-family: 'Oxygen-Bold';
    font-style: bold;
    src: local('Oxygen-Bold'), url('../../assets/fonts/Oxygen-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Oxygen-Regular';
    font-style: bold;
    src: local('Oxygen-Regular'), url('../../assets/fonts/Oxygen.otf') format('truetype');
}

body {
    margin: 0;
    background-color: $color-background-white;
}

button{
    height: 4vh;
    width: 35vw;
    border: 1px;
    font-size: 0.6rem;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    @include media(tablet) {
        height: 6vh;
        width: 20vw;
        font-size: 1.4rem;
    }
    @include media(desktop) {
        height: 6vh;
        width: 12vw;
        font-size: 1.3rem;
    }
    &:hover {
        cursor: pointer;
    }
}

input {
    height: 4vh;
    width: 80vw;
    font-family: 'Oxygen-Regular';
    font-size: 0.8rem;
    background-color: $color-background-white;
    border-radius: 10px;
    border: 1px solid $Pastel-water-Dark;
    padding-left: 6px;
    @include media(tablet) {
        font-size: 1.3rem;
    }
    @include media(desktop) {
        height: 4vh;
        width: 30vw;
    }
}

h2 {
    font-size: 1.4rem;
    font-family: 'Oxygen-Bold';
    line-height: 3vh;
    letter-spacing: 0.1rem;
    @include media(tablet) {
        font-size: 1.8rem;
    }
    @include media(desktop) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 0.8rem;
    font-family: 'Oxygen-Regular';
}

h4 {
    font-family: 'Oxygen-Regular';
    font-size: 0.8rem;
    color: #ffffff;
    line-height: 2.2vh;
    letter-spacing: 0.1rem;
    @include media(tablet) {
        font-size: 1rem;
    }
    @include media(desktop) {
        font-size: 1.2rem;
    }
}

p {
    font-size: 1rem;
    font-family: 'Oxygen-Regular';
    @include media(tablet) {
        font-size: 1.4rem;
    }
    @include media(desktop) {
        font-size: 1rem;
    }
}