@import './variables';

@font-face {
	font-family: 'Oxygen';
	font-style: bold;
	font-weight: 700;
	src: local('Oxygen'), url('../../assets/fonts/Oxygen-Bold.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: 'Oxygen', Arial, Helvetica, sans-serif;
	background-color: $color-background-white;
}

	button {
		height: 20px;
		border: 1px;
		color: $color-green;
		padding: 20px;
		border-radius: 20px;
		justify-content: center;
		&:hover {
			background-color: $Pastel-green;
		}
	}
	
	input {
		font-family: 'Oxygen';
	}

	link {
		text-decoration: none;
	}