$color-background-white:#ffffff;
$color-grey:#474747;
$color-grey-light:#afafaf;
$color-trait:#D9D9D9;

$Pastel-salmon: #FFCC99;
$Pastel-salmon-Dark: #FF9966;
$Pastel-water: #B1DECE;
$Pastel-water-Dark: #85C2AC;