@import "../../config/style.scss";

.loginForm {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-bottom: 140px;
    &_logo {
        &_link {
        width: 40vw;
        margin-top: 6vh;
        margin-left: 1.5vh;
        @include media(tablet) {
            width: 20vw;
        }
        @include media(desktop) {
            width: 15vw;
        }
        }
    }
    &_welcome {
        margin-top: 20px;
        & h2 {
            text-align: center;
        }
    }
    &_email {
         height: 11vh;
    }
    &_password {
        height: 11vh;
    }
    &_submit {
        width: 100vw;
        margin-top: 60px;
        margin-bottom: 40px;
        &_button {
            text-decoration: none;
            width: 80vw;
            height: 6vh;
            margin-top: 35px;
            @include media(desktop) {
                width: 30vw;
            }
        }
    }
    &_register {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_button {
            text-decoration: none;
            & button {
                width: 80vw;
                height: 6vh;
                background-color: $color-background-white;
                border: 1px solid $Pastel-water-Dark;
                color: $Pastel-water-Dark;
                @include media(desktop) {
                width: 30vw;
            }
            }
        }
        & p {
            text-align: center;
            font-size: 0.8rem;
        }
    }
}
