.navBar {
    background-color: $color-background-white;

    &__topNavMobile{
        background-color: $color-background-white;
        width: 100vw;
        height: 50px;
        padding: 15px;
        &_logo {
            &_image {
                width: 30vw;
            }
        }
    @include media(tablet){
        display:none;
    }
    @include media(desktop){
        display:none;
    }
    }

    &_navMobile {
        background-color: $color-background-white;
        border-top: 1px grey solid;
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 60px;
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-evenly;

        &_post_report {
            & h2 {
                color: $color-text;
                font-size: 16px;
                text-decoration: none;
            }
        }

        &_register {
            & h2 {
                color: $color-text;
                font-size: 16px;
                text-decoration: none;
                &:hover{
                    color:$color-water;
                }
            }
        }

        &_login {
            & h2 {
                color: $color-text;
                font-size: 16px;
                text-decoration: none;
                &:hover{
                    color:$color-water;
                }
            }
        }
        @include media(tablet){
            display:none;
        }
        @include media(desktop){
            display:none;
        }
    }

    &_navDesktop {
        background-color: $color-background-white;
        width: 100vw;
        height: 50px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-evenly;
        @include media(tablet){
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        @include media (desktop){
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        &_logo {
            &_image {
                width: 100px;
                margin-right: 40vw;
            }
        }

        &_post_report {
            & h2 {
                color: $color-text;
                font-size: 20px;
                text-decoration: none;
                &:hover{
                    color:$color-water;
                }
            }
        }

        &_register {
            & h2 {
                color: $color-text;
                font-size: 20px;
                text-decoration: none;
                &:hover{
                    color:$color-water;
                }
            }
        }

        &_login {
            & h2 {
                color: $color-text;
                font-size: 20px;
                text-decoration: none;
                &:hover{
                    color:$color-water;
                }
            }
        }
    }

}