@mixin media($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 375px) {
            @content;
        }
    }

    @if $breakpoint==tablet {

        @media only screen and (min-device-width: 768px) and (max-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint==desktop {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }
}