@import "../config/style.scss";

.navBar {
    &_navDesktop {
        background-color: #ffffff;
        width: 100vw;
        height: 50px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-evenly;

        &_logo {
            &_image {
                width: 100px;
                margin-right: 40vw;
            }
        }

        &_post_report {
            & h2 {
                color: $color-text;
                font-size: 20px;
                text-decoration: none;
                &:hover{
                    color:$color-water;
                }
            }
        }

        &_register {
            & h2 {
                color: $color-text;
                font-size: 20px;
                text-decoration: none;
                &:hover{
                    color:$color-water;
                }
            }
        }

        &_login {
            & h2 {
                color: $color-text;
                font-size: 20px;
                text-decoration: none;
                &:hover{
                    color:$color-water;
                }
            }
        }
    }
}
