.navBar {
    &_navMobile {
        background-color: #ffffff;
        border-top: 1px grey solid;
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 60px;
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-evenly;

        &_logo {

        }

        &_nav {
            &_post_report {
                color: #000000;
                font-size: 16px;
                text-decoration: none;
                &:hover{
                    color:#000000;
                }
                & img {

                }
                & h2 {
                    color: #000000;
                    font-size: 16px;
                    text-decoration: none;
                    &:hover{
                        color:#000000;
                    }
                }
            }

            &_profil {
                & img {

                }
                & h2 {
                    color: #000000;
                    font-size: 16px;
                    text-decoration: none;
                    &:hover{
                        color:#000000;
                    }
                }
            }
        }
    }
}